<b style ="color: green;">Create Secret Code for  <%= current_user.username %></b>

<%= form_for(@secretcode) do |f| %>
  <% if @secretcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secretcode.errors.count, "error") %> prohibited this secretcode from being saved:</h2>

      <ul>
      <% @secretcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<b style ="color: red;">OR</b><br>

<b style ="color: green;">Create Secret Code without User</b>

<%= form_for @secretcode, url: create_many_secret_path do |f| %>
  <% if @secretcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secretcode.errors.count, "error") %> prohibited this secretcode from being saved:</h2>

      <ul>
      <% @secretcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.select :number, (0..100).step(10).to_a, selected: "10" %>

  <div class="actions">
    <%= f.submit 'Create multiple secret' %>
  </div>
<% end %>


