<%= flash_messages %>

<p id="notice"><%= notice %></p>

<h1>Listing Secretcodes</h1>

<table>
  <thead>
    <tr>
      <th>Indexing</th>
      <th>Email</th>
      <th>Secretcode</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secretcodes.each.with_index(1) do |secretcode,index| %>
      <tr>
        <td><%= index %></td>
        <td><%= secretcode.user.try(:email) %></td>
        <td><%= secretcode.SecretCode %></td>
        <td><%= link_to 'Show', secretcode %></td>
        <td><%= link_to 'Edit', edit_secretcode_path(secretcode) %></td>
        <td><%= link_to 'Destroy', secretcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secretcode', new_secretcode_path %>
