!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shop
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"}
  %body
    %nav.navbar.navbar-inverse.navbar-top.navbar-fixed-top
      .container-fluid
        .container
          .navbar-header
    #main-container.container
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you?
        \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        or #{link_to "sign in", new_user_session_path}
      %p.notice= notice
      %p.alert= alert
      = yield
